<template>
  <Layout>

      <div class="main-container">
        <aside class="sidebar is-hidden-touch">
      
            <ul class="main__side__nav">
                <h3>Digital visuell profil</h3>
                <li class="main__item"><g-link class="head__link" to="/logo/"><b>Logo</b></g-link>
                  <ul class="m-15">
                    <li class="sub__link" href="Hovedlogo">Hovedlogo (rektangulær)</li>
                    <li class="sub__link" href="kvadratisk-logo">Kvadratisk logo</li>
                    <li class="sub__link" href="#Logovarianter-kvadratisk">Symbol</li>
                    <li class="sub__link" href="favikoner">Favikoner</li>
                  </ul>
                </li>
                <li class="main__item"><g-link class="head__link" to="/colors/">Farger</g-link></li>
                <li class="main__item"><g-link class="head__link" to="/typo/">Typografi</g-link></li>
                <li class="main__item"><g-link class="head__link" to="/buttons/">Knappar (CTA)</g-link></li>
                <li class="main__item"><g-link class="head__link" to="/buttons/">Illustrasjoner</g-link></li>
                <li class="main__item"><g-link class="head__link" to="/buttons/">Ikoner</g-link></li>
            </ul>
            
            <ul class="main__side__nav">
                <h3>Markedsmateriell</h3>
                <li class="main__item"><g-link class="head__link" to="/branding/">Visittkort</g-link></li>
                <li class="main__item">Skilt</li>
                <li class="main__item">Brevark</li>
                <li class="main__item">Annen kontorrekvisita</li>
                <li class="main__item">Illustrasjoner</li>
                <li class="main__item">Ikoner</li>
                <li class="main__item">Markedmateriell</li>
            </ul>
        </aside>
        <div class="main">
            <logo />
        </div>
      </div>
    <footer class="footer">
        <div class="columns">
          <div class="column border_right footer_nav">
            <h4 class="link_not_active"><b>visuell profil</b></h4>
            <g-link class="link_not_active" to="/logo/">Logo</g-link>
          </div>
          <div class="column footer_nav">
            <h4><b>visuell profil</b></h4>
            <g-link class="" to="/colors/">Farger</g-link>
          </div>
        </div>
            <p class="small-text">Design og kode: Mediebyrået Enklere Valg</p>
            <br>
            <p class="small-text text_align_middle">© 2020 MARTIN FREDRIKSEN VVS BEDRIFT ALL  RIGHTS RESERVED TERMS AND CONDITIONS</p>
    </footer>

  </Layout>
</template>

<script>
import logo from '../components/display-logo.vue'

export default {
  metaInfo: {
    title: 'Logo'
  },
  components: {
      logo
  }
}
</script>

<style lang="css">
.link_not_active{
  text-decoration: line-through;
}
.m-top-border {
  margin-top: 90px; 
  border-top: solid 1px grey;
}
.m-top {
  margin-top: 90px;
}
h2 {
    font-size: 3rem;
    color: black;
    font-weight: 800;
    margin: 15px 0 35px 0;
}
h3 {
    font-weight: 600;
    margin: 15px 0;
    font-size: 1.4rem;
}
h4 {
    font-weight: 600;
    margin: 3.5px 0;
}
p {
    height: auto;
    max-width: 100%;
    margin: 15px 0;
}
.small-text {
    font-weight: normal;
    font-size: .9rem;
    margin: 7px 0;
    color: grey;
}
.text_align_middle {
  text-align: center;
}
.m-15 {
  margin: 15px 0;
}
.main {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.main-container {
  max-width: 90% ;
  height: auto;
  display: flex;
  flex-direction: ROW;
  margin: 0 auto;
}
</style>
