<template>
  <div class="hero__holder">
      <h1 class="site__title">Identitet</h1>
      <p class="site__headline">Ser du etter logoer eller andre visuelle elementer? Kom hit, her får du også oversikt over merkevaren og personligheten vår.</p>
  </div>
</template>

<script>
export default {
}
</script>

<style>
.hero__holder{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.site__title {
    font-size: 4rem;
    color: black;
    font-weight: 800;
    margin: 15px 0;
}
@media screen and (max-width: 480px){
.site__title {
    font-size: 2rem;
}
.site__headline {
    font-size: .7rem;
    text-align: center;
    margin: 15px;
}
  
}
</style>