<template>
        <div class="columns columns__border">
            <div class="column is-gapless has-text-centered border">
                <h3>DEFAULT</h3>
                <div class="column"><img src="../assets/Knapp.png" width="219" alt="Hotshop logo2"/></div>
                <div class="column"><img src="../assets/Knappen.png" width="219" alt="Hotshop logo2"/></div>
                <div class="column"><img src="../assets/border-btn.png" width="219" alt="Hotshop logo2"/></div>
                <div class="column"><img src="../assets/Bg-button.png" width="219" alt="Hotshop logo2"/></div>
            </div>
            <div class="column is-gapless has-text-centered border">
                <h3>HOVER</h3>
                <div class="column"><img src="../assets/Knapp.png" width="219" alt="Hotshop logo2"/></div>
                <div class="column"><img src="../assets/Knappen.png" width="219" alt="Hotshop logo2"/></div>
                <div class="column"><img src="../assets/border-btn.png" width="219" alt="Hotshop logo2"/></div>
                <div class="column"><img src="../assets/Bg-button.png" width="219" alt="Hotshop logo2"/></div>
            </div>
            <div class="column is-gapless has-text-centered border">
                <h3>On Press</h3>
                <div class="column"><img src="../assets/Knapp.png" width="219" alt="Hotshop logo2"/></div>
                <div class="column"><img src="../assets/Knappen.png" width="219" alt="Hotshop logo2"/></div>
                <div class="column"><img src="../assets/border-btn.png" width="219" alt="Hotshop logo2"/></div>
                <div class="column"><img src="../assets/Bg-button.png" width="219" alt="Hotshop logo2"/></div>
            </div>

        </div>
</template>

<script>

export default {
}
</script>

<style  style lang="css">
.columns__border{
    margin: 50px 0;
    border: solid 1px grey;
}
.border {
    border: solid 1px grey;
}
</style>