<template>
    <div class="columns">
        <div class="column">
            <div class="color_contrast_card">
                <div class="color_contrast--large">
                    <div class="color_contrast--small"></div>
                </div>
                <p><span class="color_card_icon_wrong"><font-awesome-icon icon="times-circle"/></span><span class="color_card_title">AA</span>9.4 : 1</p>
            </div>
        </div>
        <div class="column">
            <div class="color_contrast_card">
                <div class="color_contrast--large">
                    <div class="color_contrast--small"></div>
                </div>
                <p><span class="color_card_icon_wrong"><font-awesome-icon icon="times-circle"/></span><span class="color_card_title">AA</span>9.4 : 1</p>
            </div>
        </div>
        <div class="column">
            <div class="color_contrast_card">
                <div class="color_contrast--large">
                    <div class="color_contrast--small"></div>
                </div>
                <p><span class="color_card_icon_wrong"><font-awesome-icon icon="times-circle"/></span><span class="color_card_title">AA</span>9.4 : 1</p>
            </div>
        </div>
        <div class="column">
            <div class="color_contrast_card">
                <div class="color_contrast--large">
                    <div class="color_contrast--small"></div>
                </div>
                <p><span class="color_card_icon_wrong"><font-awesome-icon icon="times-circle"/></span><span class="color_card_title">AA</span>9.4 : 1</p>
            </div>
        </div>
    </div>
</template>

<script>

export default {
}
</script>

<style lang="css">
.color_contrast_card {
    height: 180px;
    width: 180px;
    margin: 30px 15px;
}
.color_contrast--large {
    background-color: #17456C;
    width: 100%;
    height: 100%;
    position: relative;

}
.color_contrast--small {
    height: 50%;
    width: 50%;
    background-color: #f8f8f8;
    border: solid 1px rgb(228, 228, 228);
    position: absolute;
    top: -10%;
    right: -10%;

}
.color_card_title {
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    margin-right: 5px;
}
.color_card_icon_wrong {
    margin-right: 15px;
    color: red;
}
    
</style>