<template>
        <div class="columns">
            <div class="column">
                <div class="color__swatch">
                    <div class="color__top swatch_first"></div>
                    <div class="color__code">
                        <h4 class="color__swatch__title">Ghost White</h4>
                        <p class="swatch__desc__bold"><span class="desc">hex</span>#f8f8f8</p>
                        <p class="swatch__desc__bold"><span class="desc">rgb</span>248, 248, 248</p>
                        <p class="swatch__desc__bold"><span class="desc">cmyk</span>0, 0, 0, 3</p>
                        <p class="swatch__desc__bold"><span class="desc">pms</span>#f8f8f8</p>
                    </div>

                </div>
                <h4 class="">Ghost White</h4>
                <p class="small-text">Lys bakgrunnsfarge som brukes på skjemaer og header. Bruk denne som kontrastfarge til de mørkere fargetonene.</p>
            </div>
            <div class="column">
                <div class="color__swatch">
                    <div class="color__top swatch_second"></div>
                    <div class="color__code">
                        <h4 class="color__swatch__title">Neon carrot</h4>
                        <p class="swatch__desc__bold"><span class="desc">hex</span>#f8f8f8</p>
                        <p class="swatch__desc__bold"><span class="desc">rgb</span>248, 248, 248</p>
                        <p class="swatch__desc__bold"><span class="desc">cmyk</span>0, 0, 0, 3</p>
                        <p class="swatch__desc__bold"><span class="desc">pms</span>#f8f8f8</p>
                    </div>

                </div>
                <h4 class="">Tuscan</h4>
                <p class="small-text">Tuscan brukes i hover-effekter og som en del av en triade fargepalett sammen med DIB og GW som en aksent-farge.</p>
            </div>
            <div class="column">
                <div class="color__swatch">
                    <div class="color__top swatch_third"></div>
                    <div class="color__code">
                        <h4 class="color__swatch__title">Dark Imperial Blue</h4>
                        <p class="swatch__desc__bold"><span class="desc">hex</span>#f8f8f8</p>
                        <p class="swatch__desc__bold"><span class="desc">rgb</span>248, 248, 248</p>
                        <p class="swatch__desc__bold"><span class="desc">cmyk</span>0, 0, 0, 3</p>
                        <p class="swatch__desc__bold"><span class="desc">pms</span>#f8f8f8</p>
                    </div>

                </div>
                <h4 class="">Dark Imperial Blue</h4>
                <p class="small-text">Hovedfarge som brukes til logo og knapper</p>
            </div>
            <div class="column">
                <div class="color__swatch">
                    <div class="color__top swatch_fourth"></div>
                    <div class="color__code">
                        <h4 class="color__swatch__title">Licorice</h4>
                        <p class="swatch__desc__bold"><span class="desc">hex</span>#f8f8f8</p>
                        <p class="swatch__desc__bold"><span class="desc">rgb</span>248, 248, 248</p>
                        <p class="swatch__desc__bold"><span class="desc">cmyk</span>0, 0, 0, 3</p>
                        <p class="swatch__desc__bold"><span class="desc">pms</span>#f8f8f8</p>
                    </div>

                </div>
                <h4 class="">Licorice</h4>
                <p class="small-text">Hovedfarge for tekster og som bakgrunn mot de lysere fargene</p>
            </div>
        </div>
</template>

<script>

export default {
}
</script>

<style lang="css">
    
</style>