<template>
  <div class="biz__display">
      <section id="Visittkort">
        <h2>Visittkort</h2>
        <p>For at det skal være en rød tråd på hjemmesiden må man bruke et utvalg av farger som ligger tilgjengelig i designmanualen. Når man bygger en underside og trenger farger, prøv å følg tommelfinger-reglen om 60-30-10. 60% av fargene er basisfarge, lyse farger, 30% hovedfargene, 10% aksent-farger. På denne måten er det lettere å skape et balansert fargeinntrykk.</p>
        <g-image src="../assets/bizcard.png" width="1000" alt="Contrast" style="margin: 75px 0"/>
        <h3>Last ned Varmeshop Bedrift visittkort</h3>
        <p>Alle farge kan også lastes ned som Svg-filer for lettere bruk i redigeringsprogrammer. Det anbefales alltid å sjekke nettsiden først da dette er den absolutt siste standarden til bedriftens profil. </p>
        <zipDwn/>
      </section>
  </div>
</template>

<script>
import zipDwn from '../components/zip_download.vue'

export default {
    components: {
        zipDwn
    }
}
</script>

<style>
.biz__display{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 15px 50px 15px;
}
</style>