<template>
  <div class="font__display">
      <section id="Hovedfont">
        <h2>Typografi</h2>
        <p>Poppins er hovedfonten vi bruker på alle digitale flater. Denne fonten skal brukes i overskrifter og tekster. Vi bruker aksent-fonter på visittkort og i noen andre spesialtilfeller. </p>
        <h3>Hovedfont</h3>

        <twoZips />
        <fontThirds />

      </section>
      <section id="Avvik-fra-standarden" class="m-top">
        <h3>Avvik fra standardfonten</h3>
        <p>Logoen tilbys i forskjellige formater tilpasset trykk, digitale presentasjoner og web.For trykk og presentasjoner ligger beskyttelsesområdet fast i dokumentet for å sikre avstand til andre elementer.
            <br><br>
            Den nedlastbare pakken inneholder logo i ulike formater inndelt etter bruksområde. Du finner også en format-guide i zipfilen.</p>
        <twoZips />
      </section>
      <section id="Eksempel på tekstoppbygning" class="m-top-border">          
        <h3 class="m-45">Eksempel på tekstoppbygning</h3>

        <fontUse />

      </section>

  </div>
</template>

<script>
import fontThirds from '../components/font_thirds.vue'
import twoZips from '../components/zip_doubleDwn.vue'
import fontUse from '../components/font_fontusage.vue'

export default {
    components: {
        fontThirds,
        twoZips,
        fontUse
    }
}
</script>

<style>
.m-45 {
  margin: 45px 0;
}
.font__display{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 15px 50px 15px;
}
.flex-grid .col {
  flex: 1;
}
.flex-grid-thirds .col {
  width: 32%;
  display: flex;
  flex-direction: column;
}
</style>