<template>
  <div class="btn__display">
      <section id="KnappElementer">
        <h2>Knapper og elementer</h2>
        <p>For at det skal være en rød tråd på hjemmesiden må man bruke et utvalg av farger som ligger tilgjengelig i designmanualen. Når man bygger en underside og trenger farger, prøv å følg tommelfinger-reglen om 60-30-10. 60% av fargene er basisfarge, lyse farger, 30% hovedfargene, 10% aksent-farger. På denne måten er det lettere å skape et balansert fargeinntrykk.</p>
        
        <g-image src="../assets/ButtonHero.png" width="1000" alt="Buttons Use" class="m-15"/>

      </section>
      <section id="Oppset" class="m-top-border">
        <h3>Oppsett av knapper</h3>
        <p>Eksemplene under viser hvordan knappene på hjemmesiden reagerer ved hover og press. Legg merke til at fargen Dark Imperial Blue har her en lysere utgave av seg selv som «hover». Eksperimenter med fargevalg tilpasset bakgrunnens (nettsidens hovedfarge (som oftest hvit)) farge.</p>
        <buttonGrid/>
      </section>

  </div>
</template>

<script>
import buttonGrid from '../components/button_grid_display.vue'

export default {
    components: {
        buttonGrid
    }
}
</script>

<style>
.btn__display{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 15px 50px 15px;
}
.flex-grid .col {
  flex: 1;
}
.flex-grid-thirds .col {
  width: 32%;
  display: flex;
  flex-direction: column;
}
</style>