<template>
  <div class="color__display">
      <section id="Merkevarefarger">
        <h2>Farger</h2>
        <h3>Merkevarefarger</h3>
        <p>Varmeshop bedrift sine hovedfarger er Dark Imperial Blue og Licorice. De skal alltid stå sammen med V-symbolet når Varmeshop er avsender. Fargene kan også hver for seg dekke hele flater. Men for å unngå at uttrykket blir for tungt, bør du være forsiktig hvis du bruker begge samtidig.</p>
        <fourCol />

      </section>
      <section id="Alternative farger for avvik" class="m-top-border">
        <h3>Alternative farger for avvik</h3>
        <p>Ved spesial-hendelser og ved hover-effekter bruker vi signalfarger eller mørkere versjoner av merkevarefargene.</p>
        <threeCol/>
      </section>
      <section id="Logovarianter" class="m-top">          
        <h3>Last ned Varmeshop Bedrift fargeprofil </h3>
        <p>Alle farge kan også lastes ned som Svg-filer for lettere bruk i redigeringsprogrammer. Det anbefales alltid å sjekke nettsiden først da dette er den absolutt siste standarden til bedriftens profil. </p>
        <zipDwn/>

      </section>
      <section id="Kontrasforhold" class="m-top-border">
        <h3>Kontrastforhold</h3>
        <p>Det er viktig å sjekke kontrastforholdet mellom fargene du velger. Under følger eksempler på farger som passer bra sammen og gir et godkjent kontrastforhold for bruk i universell utforming</p>
        <contrastColors/>
        <contrastColorsWrong/>
      </section>
      <section id="bakgrunner" class="m-top-border">
        <h3>Bakgrunner</h3>
        <p>Bakgrunner kan brukes for å gjøre elementer mer livlig. Dette kan eksperimenteres med, og stadig vekk vil det legges til nye elementer på denne undersiden. Forslag til bruk: innpakning esker, visittkort, footer.</p>
         <g-image src="../assets/bakrunn.png" width="1000" alt="Backgrounds"/>
      </section>
  </div>
</template>

<script>
import fourCol from '../components/colors_four_col.vue'
import threeCol from '../components/colors_three_col.vue'
import zipDwn from '../components/zip_download.vue'
import contrastColors from '../components/colors_contrast.vue'
import contrastColorsWrong from '../components/colors_contrast_wrong.vue'

export default {
    components: {
        fourCol,
        threeCol,
        zipDwn,
        contrastColors,
        contrastColorsWrong

    }
}
</script>

<style>

.color__display{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 15px 50px 15px;
}
.flex-grid {
  display: flex;
}
.flex-grid .col {
  flex: 1;
}
.flex-grid-thirds {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
}
.flex-grid-four .col {
  width: 20%;
  display: flex;
  flex-direction: column;
}
.flex-grid-half .col {
  width: 48%;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}
.grid-box{
    display: flex;
    flex-wrap: wrap;
}
.grid-box .col4 {
  height: 49%;
  width: 49%;
}
</style>