<template>
  <div class="logo__display">
      <section id="Hovedlogo">
        <h2>Logo</h2>
        <h3>Hovedlogo</h3>
        <p>Varmeshop Bedrift sin logo består av navnet og ikonet V. Logoen kan brukes i blå, hvit eller sort.</p>

        <fullwidth />
        <halfs />

      </section>
      <section id="Last-ned" class="m-top">
        <h3>Last ned Varmeshop Bedrift hovedlogo</h3>
        <p>Logoen tilbys i forskjellige formater tilpasset trykk, digitale presentasjoner og web.For trykk og presentasjoner ligger beskyttelsesområdet fast i dokumentet for å sikre avstand til andre elementer.
            <br><br>
            Den nedlastbare pakken inneholder logo i ulike formater inndelt etter bruksområde. Du finner også en format-guide i zipfilen.</p>
        <zipdwn />
      </section>
      <section id="Logovarianter" class="m-top">          
        <h3>Logovarianter</h3>
        <p>Logoen kan brukes både positivt og negativt samt på et bilde eller en heldekkende bakgrunnsfarge. Vær forsiktig med logobruk på bakgrunnsbilde. Noen ganger gjør det seg ikke å bruke logo uten å bruke bakgrunnsfarge som i Hovedlogo#2. Se «Logo på bilder og farget bakgrunn» for flere eksempler. </p>
        <halfs />

      </section>
      <section id="Riktigt-bruk" class="m-top">
        <h3>Riktig og feil bruk av hovedlogo</h3>

        <thirds />
        <thirdsExcept />

      </section>
      <section id="kvadratisk-logo" class="m-top">
        <h3>Kvadratisk logo</h3>
        <p>I noen tilfeller vil en rektangulær logo ikke passe inn med materiellet, og da kan man bruke den kvadratiske versjonen isteden.  Symbolet kan brukes på digitale så vel som fysiske flater, for eksempel skilt, eller som merke på klær.
            En tertiær variant av kvadratisk logo er også mulig å bruke i de tilfeller man ikke ønsker å få med navnet i logoen.</p>
        <g-image src="../assets/logo1.png" width="1000" alt='Hello'/>

        <h4>Varmeshop symbol</h4>
        <p class="small-text">Ser du etter logoer eller andre visuelle elementer? Kom hit, her får du også oversikt over merkevaren og personligheten vår.</p>
        <br>
        <h3>Last ned Varmeshop Bedrift hovedlogo</h3>
        <p>Logoen tilbys i forskjellige formater tilpasset trykk, digitale presentasjoner og web.For trykk og presentasjoner ligger beskyttelsesområdet fast i dokumentet for å sikre avstand til andre elementer.
        <br><br>
        Den nedlastbare pakken inneholder logo i ulike formater inndelt etter bruksområde. Du finner også en format-guide i zipfilen.</p>
        <zipdwn />
      </section>
      <section id="Logovarianter-kvadratisk" class="m-top">
        <h3>Logovarianter for kvadratisk logo med symbol</h3>
        <p>Symbolet V kan brukes i på elementer hvor navnet «Varmeshop bedrift» ikke vil være lesbart, for eksempel på klær som et merke, et favikon i nettleseren eller som et element på en penn.</p>
        <halfQuarter/>
        <zipdwn style="margin-top: 65px;"/>
      </section>
      <section id="favikoner" class="m-top">
        <h3>Favikoner</h3>
        <p>Som favikon/nettleserikon bruker vi Nettverkssymbolet. Ulike nettlesere bruker forskjellige filformater. Vi har lagt de vanligste formatene til nedlastning nedenfor. I pakken finner du også eksempel på kode for å lenke inn de riktige bildene (html, manifest.json og browserconfig.xml)</p>
        <zipdwn />
      </section>
  </div>
</template>

<script>
import fullwidth from '../components/img_fullwidth.vue'
import halfs from '../components/img_halfs.vue'
import halfQuarter from '../components/img_half_and_four.vue'
import thirds from '../components/img_thirds.vue'
import thirdsExcept from '../components/img_thirds_except.vue'
import zipdwn from '../components/zip_download.vue'

export default {
    components: {
        fullwidth,
        halfs,
        halfQuarter,
        zipdwn,
        thirds,
        thirdsExcept
    }
}
</script>

<style>
.logo__display{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 15px 50px 15px;
}
.flex-grid {
  display: flex;
}
.flex-grid .col {
  flex: 1;
}
.flex-grid-thirds {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
}
.flex-grid-thirds .col {
  width: 32%;
  display: flex;
  flex-direction: column;
}
.flex-grid-half .col {
  width: 48%;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}
.grid-box{
    display: flex;
    flex-wrap: wrap;
}
.grid-box .col4 {
  height: 49%;
  width: 49%;
}
</style>