<template>
<main>


    <div class="flex_full">
        <div class="flex-grid-half">
            <div class="center title_border_bottom">
                <p>Overskrift 25.pkt</p>
            </div>
            <div class="center">
                <g-image src="../assets/tekstfelt1.png" width="450" alt="Hotshop logo3"/>
            </div>
        </div>
    </div>
    <div class="flex_full">
        <div class="flex-grid-half">
            <div class="center title_border_bottom">
                <p>Ingress 20.pkt</p>
            </div>
            <div class="center">
                <g-image src="../assets/tekstfelt2.png" width="450" alt="Hotshop logo3"/>
            </div>
        </div>
    </div>
    <div class="flex_full">
        <div class="flex-grid-half">
            <div class="center title_border_bottom">
                <p>Artikkeltekst 16.pkt</p>
            </div>
            <div class="center">
                <g-image src="../assets/tekstfelt5.png" width="450" alt="Hotshop logo3"/>
            </div>
        </div>
    </div>
    <div class="flex_full">
        <div class="flex-grid-half">
            <div class="center title_border_bottom">
                <p>Ekstern link i artikkel</p>
            </div>
            <div class="center">
                <g-image src="../assets/tekstfelt6.png" width="450" alt="Hotshop logo3"/>
            </div>
        </div>
    </div>
    <div class="flex_full">
        <div class="flex-grid-half">
            <div class="center title_border_bottom">
                <p>Internlinking</p>
            </div>
            <div class="center">
                <g-image src="../assets/tekstfelt7.png" width="450" alt="Hotshop logo3"/>
            </div>
        </div>
    </div>
    <div class="flex_full">
        <div class="flex-grid-half">
            <div class="center title_border_bottom">
                <p>Sistatoppsett</p>
            </div>
            <div class="center">
                <g-image src="../assets/tekstfelt4.png" width="450" alt="Hotshop logo3"/>
            </div>
        </div>
    </div>

</main>

</template>

<script>

export default {
}
</script>

<style lang="css">

.flex_full {
    display: flex;
    min-width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;;
}
.center {
    display: flex;
    align-items: center;
    width: 400px
}
.flex-grid-half {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: row;
}
.title_border_bottom {
    border-bottom: dotted grey 1px;
    margin-right: 15px;
}
    
</style>