<template>
        <div class="flex-grid-thirds">
            <div class="col">
                <g-image src="../assets/Ghost-light.png" width="283" height="390" alt="Hotshop logo2"/>
                <h4>Poppins Regular</h4>
                <p class="small-text">Finnes også som italic</p>
            </div>
            <div class="col">
                <g-image src="../assets/Ghost-regular.png" width="283" height="390"  alt="Hotshop logo2"/>
                <h4>Poppins Regular</h4>
                <p class="small-text">Finnes også som italic</p>
            </div>
            <div class="col">
                <g-image src="../assets/Ghost-bold.png" width="283" height="390"  alt="Hotshop logo2"/>
                <h4>Poppins Regular</h4>
                <p class="small-text">Finnes også som italic</p>
            </div>
        </div>
</template>

<script>

export default {
}
</script>

<style lang="css">
.flex-grid-thirds {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 70px;
}
    
</style>