<template>
    <div class="flex-grid-full">
        <g-image src="../assets/logo1.png" fit="cover" alt='Hello'/>
        <h4>Varmeshop hovedlogo #1</h4>
        <p class="small-text">Dark Imperial Blue</p>
    </div>
</template>

<script>

export default {
}
</script>

<style lang="css">
.flex-grid-full {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 15PX;
}
    
</style>