<template>
    <div class="columns">

        <div class="column">
            <g-image src="../assets/logo2.png" width="500" alt="Hotshop logo2"/>
            <h4>Varmeshop hovedlogo #2</h4>
            <p class="small-text">Dark Imperial Blue</p>
        </div>
        <div class="column">
            <g-image src="../assets/logo3.png" width="500" alt="Hotshop logo3"/>
            <h4>Varmeshop hovedlogo #3</h4>
            <p class="small-text">Dark Imperial Blue</p>
        </div>

    </div>
</template>

<script>

export default {
}
</script>

<style lang="css">
    
</style>