<template>
        <div class="columns">
            <div class="column is-centered">
                <g-image src="../assets/kvadratisk_large.png" alt="Hotshop logo1" style="height: 100%; width: 100%;"/>
            </div>
            <div class="column">
                <div class="columns">
                    <div class="column">
                        <g-image src="../assets/kvadratisk_small.png" alt="Hotshop logo1" style="height: 100%; width: 100%;"/>
                    </div>
                    <div class="column">
                        <g-image src="../assets/kvadratisk_small.png" alt="Hotshop logo1" style="height: 100%; width: 100%;"/>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <g-image src="../assets/kvadratisk_small.png" alt="Hotshop logo1" style="height: 100%; width: 100%;"/>
                    </div>
                    <div class="column">
                        <g-image src="../assets/kvadratisk_small.png" alt="Hotshop logo1" style="height: 100%; width: 100%;"/>
                    </div>
                </div>
            </div>
        </div>
</template>

<script>

export default {
}
</script>
<static-query>
query {
  metadata {
    siteName
  }
}
</static-query>

<style lang="css">
.flex-grid-half {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
    
</style>