<template>
        <div class="columns">
            <div class="column"><g-image src="../assets/feil-logo-dark.png" width="290" alt="Hotshop logo2"/><p class="small-text">Bruk logo med riklig kontrast til bakgrunnen</p></div>
            <div class="column"><g-image src="../assets/feil-logo-dark.png" width="290" alt="Hotshop logo2"/><p class="small-text">Bruk logo med riklig kontrast til bakgrunnen</p></div>
            <div class="column"><g-image src="../assets/feil-logo-dark.png" width="290" alt="Hotshop logo2"/><p class="small-text">Bruk logo med riklig kontrast til bakgrunnen</p></div>
        </div>
</template>

<script>

export default {
}
</script>
<static-query>
query {
  metadata {
    siteName
  }
}
</static-query>

<style lang="css">
    
</style>