<template>
        <div class="columns is-desktop">
            <div class="column"><g-image src="../assets/rett-logo-bright.png" width="290" alt="Hotshop logo2"/><p class="small-text"><span><font-awesome :icon="['check-circle']" /></span> Bruk logo med riklig kontrast til bakgrunnen</p></div>
            <div class="column"><g-image src="../assets/rett-logo-bright.png" width="290" alt="Hotshop logo2"/><p class="small-text">Bruk logo med riklig kontrast til bakgrunnen</p></div>
            <div class="column"><g-image src="../assets/rett-logo-bright.png" width="290" alt="Hotshop logo2"/><p class="small-text">Bruk logo med riklig kontrast til bakgrunnen</p></div>
        </div>
</template>

<script>

export default {
}
</script>
<static-query>
query {
  metadata {
    siteName
  }
}
</static-query>

<style lang="css">
    
</style>