<template>
  <div class="main">
    <h4>Hello and welcome to design manual for Varmeshop</h4>
  </div>
</template>

<script>
export default {
  components: {
  }
}
</script>

<style>
.main {
  max-width: 1300px;
  margin: o auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
p{
  margin: 25px 0;
}
</style>