<template>
  <aside class="sidebar">
      
      <ul class="main__side__nav">
          <h3>Digital visuell profil</h3>
          <li class="main__item">Logo</li>
          <li class="main__item">Farger</li>
          <li class="main__item">Typografi</li>
          <li class="main__item">Knappar (CTA)</li>
          <li class="main__item">Illustrasjoner</li>
          <li class="main__item">Ikoner</li>
          <li class="main__item">Markedmateriell</li>
      </ul>
      
      <ul class="main__side__nav">
          <h3>Markedsmateriell</h3>
          <li class="main__item">Visittkort</li>
          <li class="main__item">Skilt</li>
          <li class="main__item">Brevark</li>
          <li class="main__item">Annen kontorrekvisita</li>
          <li class="main__item">Illustrasjoner</li>
          <li class="main__item">Ikoner</li>
          <li class="main__item">Markedmateriell</li>
      </ul>
  </aside>
</template>

<script>
export default {
}
</script>

<style>
.sidebar {
  height: auto;
  width: 30%;
  /* background: rgb(231, 231, 231); */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* margin: 15px; */
  padding: 20px ;
  border-right: white solid 3px;
}
li{
    list-style-type: none;
    cursor: pointer;
    color: rgb(29, 29, 29);
}
h3{
    margin: 0;
}
</style>