<template>
        <div class="download__zip">
            <g-image src="../assets/fontzip1.png" width="376" height="115"  alt="Hotshop logo3"/>
            <g-image src="../assets/fontzip2.png" width="376" height="115"  alt="Hotshop logo3"/>
        </div>
</template>

<script>

export default {
}
</script>

<style lang="css">
.download__zip{
    height: auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

    
</style>