<template>
    <a href="../assets/zip-55.png" download>
        <div class="download__zip columns is-mobile">
            <div class="column is-center">
                <g-image src="../assets/zip-55.png"  fit="cover" alt="Hotshop logo3"/>
            </div>
            <div class="column is-four-fifths">
                <p class="small_text_mobile">varmeshop_logo_square_no_text</p>
                <p class="small_text_mobile">2 MB - zip</p>
            </div>
        </div>
    </a>
</template>

<script>

export default {
}
</script>

<style lang="css">
.download__zip{
    height: auto;
    width: 100%;
    background-color: #F8F8F8;
    margin: 0;
}
.is-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
    
</style>