<template>
  <div class="layout">
    <header class="header">
      <div class="header__content">
        <div class="logo__container">
          <g-image src="../assets/VarmeshopLogo.png" fit="contain" alt="Hotshop logo"/>
        </div>
      <nav class="nav">
        <g-link class="nav__link" to="/logo/">Identitet</g-link>
        <g-link class="nav__link" to="/logo/">Web og mobil</g-link>
        <g-link class="nav__link" to="/logo/">Markedsføring</g-link>
        <g-link class="nav__link" to="/logo/">Bilder</g-link>
        <g-link class="nav__link" to="/logo/">Ikoner</g-link>
      </nav>
      </div>
      <hero />
    </header>
    <slot/>

  </div>
</template>


<script>
import hero from '../components/article-hero.vue'

export default {
  sitename: '',
  components: {
    hero
  }
}
</script>
<static-query>
query {
  metadata {
    siteName
  }
}
</static-query>

<style>
body {
  font-family: 'Poppins', sans-serif;
  margin:0;
  padding:0;
  line-height: 1.5;
  background-color: rgb(255, 255, 255);
} 

h1,h2,h3,h4 p {
  font-family: 'Poppins', sans-serif;
}
h1 {
    font-size: 4rem;
    color: black;
    font-weight: 800;
    margin: 15px 0;
}
.layout {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
  height: 290px;
  min-width: 100%;
  background: rgb(231, 231, 231);
  position: relative;
}
.header__content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  padding: 20px 0;
  background-color: rgb(212, 212, 212);
}
.logo__container {
  width: 200px;
  height: auto;
}
.nav__link {
  margin-left: 15px;
  text-decoration: none;
  color: rgb(14, 13, 13);
  font-size: 1rem;
}
.nav__link:hover{
  color: white;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  min-width: 100%;
  background: rgb(231, 231, 231);
  position: relative;
}
.footer_nav h4 {
  color: #17456C;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.3rem;
  position: relative;
}
.footer_nav a {
  font-size: 1.5rem;
  color: black;
}
.footer_nav {
  padding: 2rem;
  margin-bottom: 3rem;
}
.border_right {
  border-right: 1px solid gray;
}
.head__link{
  font-size: 1rem;
  font-weight: 400;
  color: black;
}
.head__link a{
  color: black;
}
.sub__link{
  font-size: .9rem;
  margin-left: 15px;
  color: grey;
}    
.sidebar {
  height: auto;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px ;
  border-right: white solid 3px;
  /* position: fixed; */
  /* top: 500px; */
}
li{
    list-style-type: none;
    cursor: pointer;
    color: rgb(29, 29, 29);
}
@media screen and (max-width: 440px){
  .header__content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 20px 0;
  background-color: rgb(212, 212, 212);
}
  .nav__link {
  margin-left: 5px;
  font-size: .7rem;
}
.logo__container {
  width: 150px;
  height: auto;
}
.border_right {
  border-bottom: 1px solid gray;
  border-right: none;
  margin-bottom: 0;
}
.small_text_mobile{
  font-size: .8rem;
}
}
</style>
